@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

/********************** base CSS *************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
}

body,
html {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
}

h1,
h2 {
    color: #fff;
    font-weight: normal;
}

h1 {
    padding-top: 0;
    font-size: 3.2rem;
    border-bottom: none;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    margin-bottom: .625rem;
}

h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6em;
    font-style: italic;
}

h3 {
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
}

p {
    line-height: 2;
    margin: .75em 0;
    font-size: 1em;
}

img {
    width: 100%;
}

abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
    text-decoration: underline dotted;
}

/********************** Main Container *************************/

.container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header nav"
        "section-a section-a section-e"
        "section-b section-b section-f"
        "section-c section-c section-g"
        "section-d section-d section-d"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/********************** Header *************************/

#nav ul,
.view-all,
.view-all a {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: header;
    width: 100%;
}

#header img {
    width: 125px;
    height: 125px;
    margin-right: 2.5rem;
    margin-left: 4.5rem;
}

#header .header-text {
    text-align: left;
}

#header,
#nav {
    position: relative;
    background: url(images/contours@2x.png), url(images/noise.png), url(images/gridlines-opaque.png), url(images/huntington.jpg);
    min-height: 19.375rem;
}

/********************** Nav *************************/

#nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#nav,
#nav ul,
.next-right,
.next-left,
.next-right a,
.next-left a,
.view-all,
.view-all a,
#section-d,
footer,
footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.next-right,
.next-left {
    background: rgba(255, 255, 255, 0.1);
    font-size: 2.75rem;
    font-family: 'verdemoderna';
    width: 4.375rem;
    height: 4.375rem;
}

.next-right a,
.next-left a {
    width: 4.375rem;
    height: 4.375rem;
    color: rgba(255, 255, 255, 0.65);
}

.next-right {
    margin-right: 1.25rem;
}

.next-left {
    margin-left: 1.25rem;
}

.view-all {
    background: rgba(255, 255, 255, 0.1);
    height: 4.375rem;
}

.view-all a {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1em;
    height: 4.375rem;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0 12px;
    transition: all 0.25s ease-out;
}

.view-all a:hover,
.next-left a:hover,
.next-right a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

/********************** Content wrap / all paragraphs wrap *************************/
.content-wrap {
    padding: 1em 10% 1em 15%;
}

/********************** Section A *************************/

#section-a {
    grid-area: section-a;
    padding: 2.8125rem 0;
}

#section-a .download {
    color: #809b7e;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    border-radius: 1px;
    transition: all 0.25s ease-out;
}

#section-a .download:hover {
    background: #05798d;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

#section-a .download::before {
    display: inline-block;
    top: .375rem;
    left: .5rem;
    padding: .125rem;
    color: #a9b995;
    background: #d9e1cd;
    border-radius: .125rem;
    content: 'D';
    font-size: 1rem;
    font-family: 'verdemoderna';
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    transition: all 0.25s ease-out;
}

#section-a .download:hover:before {
    color: white;
    background: #035f70;
}

/********************** Section B *************************/

#section-b {
    grid-area: section-b;
    padding: 2.8125rem 0;
}

#section-b,
#section-f {
    background-color: rgba(138, 188, 159, 0.5);
    background-image: url(images/contours-opaque.png), url(images/gridlines-opaque.png), url(images/bamboo.png);
    background-size: contain;
    background-attachment: fixed;
}

.pHover {
    color: #0d8ba1;
    transform: all 0.25s ease-out;
    text-decoration: none;
}

.pHover:hover {
    color: #0d8ba1;
    text-decoration: underline;
    cursor: pointer;
}

/********************** Section C *************************/
#section-c {
    grid-area: section-c;
    padding: 2.8125rem 0;
}

/********************** Section D *************************/
#section-d {
    grid-area: section-d;

    font-size: 2em;
    color: rgba(255, 255, 255, 0.4);
    background: #3e5d67 url(images/koi.jpg);
    background-size: cover;
    padding: 2.8125rem 0;
    font-style: italic;
}

#section-d a {
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.25s ease-out;
}

#section-d a:hover {
    text-decoration: underline;
}

/********************** Main Footer *************************/

footer {
    grid-area: footer;
    background: #134347;
    width: 100%;
    padding: 2.1em 10%;
    flex-wrap: wrap;
}

footer a {

    color: rgba(255, 255, 255, 0.5);
    font-size: 4.5rem;
    margin: 0 3.125rem;
    font-family: 'verdemoderna';
    transition: all 0.25s ease-out;
    border-radius: 50%;
    width: 4.3125rem;
    height: 4.3125rem;
}

footer a:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #134347;
}

/********************** Section E *************************/

#section-e {
    grid-area: section-e;
    background: #edf4f0;
}

#section-e ul {
    margin-top: 15%;
    font-family: 'Julius Sans One', sans-serif;
}

#section-e ul li,
#section-f ul li {
    color: #607476;
    font-size: 1.2em;
    font-style: normal;
    width: auto;
    margin: 0 30% 0 15%;
    padding: 1.5rem 0;
    border-top: solid 1px #d9e3dc;
}

#section-e ul li a,
#section-f ul li a {
    display: block;
    color: #607476;
    transition: all 0.25s ease-out;
}

#section-e ul li a:visited,
#section-f ul li a:visited {
    color: #1a5952;
    transition: all 0.25s ease-out;
}

#section-e ul li a:hover,
#section-f ul li a:hover {
    color: #0599c2;
}

#section-e ul li .designer-name {
    display: inline;
    color: #616857;
    font-size: .875rem;
    font-style: normal;
    font-family: 'Libre Baskerville', sans-serif;
    ;
}

#section-e ul li p {
    color: #c0cac3;
    display: inline;
    margin-right: 5px;
    font-size: .875rem;
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif;
    text-transform: lowercase;
}

#section-e ul li:first-child {
    border: none;
}

/********************** Section F *************************/

#section-f {
    grid-area: section-f;
}

#section-f ul {
    margin-top: 7.5rem;
}

#section-f ul li {
    border-top: solid 1px #a0b9ad;
}

#section-f ul li a {
    font-family: 'Julius Sans One', sans-serif;
    display: inline;
}

/********************** Section G *************************/

#section-g {
    grid-area: section-g;
    background: #edf4f0;
}

@media only screen and (min-width: 501px) and (max-width: 1132px) {

    /********** Main Container (min-width: 501px) and (max-width: 1132px) **********/
    .container {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "section-a"
            "section-b"
            "section-c"
            "section-d"
            "footer"
            "section-e"
            "section-f";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /********** Base CSS (min-width: 501px) and (max-width: 1132px) **********/

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    /********** Header (min-width: 501px) and (max-width: 1132px) **********/

    #header {
        align-items: center;
        min-height: 10rem;
    }

    #header img {
        width: 5rem;
        height: 5rem;
        margin: 0 1.25rem 3.125rem 0;
    }

    #header .header-text {
        text-align: center;
    }

    /********** Nav (min-width: 501px) and (max-width: 1132px) **********/
    #nav {
        min-height: 4.375rem;
    }

    #nav ul,
    .view-all,
    .view-all a {
        width: 100%;
    }

    .next-left,
    .next-right {
        margin: 0;
    }

    /********** Paragraphs wraper (min-width: 501px) and (max-width: 1132px) **********/
    .content-wrap {
        padding: .5em 10%;
    }

    /********** Section E (min-width: 501px) and (max-width: 1132px) **********/
    #section-e ul,
    #section-f ul {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #section-e ul li,
    #section-f ul li {
        margin: 0;
        padding: .9375rem 0 .9375rem 7.5rem;
        width: 100%;
        border-bottom: solid 1px #a0b9ad;
        border-top: none;
    }

    #section-e ul li:first-child {
        border-bottom: solid 1px #a0b9ad;
        border-top: none;
    }

    /********** Main Footer (min-width: 501px) and (max-width: 1132px) **********/

    footer a {
        width: 2.875rem;
        height: 2.875rem;
        font-size: 3rem;
        margin: 0 0.6em;
    }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {

    /********** Sction D (min-width: 501px) and (max-width: 800px) **********/
    
    #section-d p {
        font-size: 1.4rem;
        margin: 0;
    }

    /********** Section E and F (min-width: 501px) and (max-width: 800px) **********/

    #section-e ul,
    #section-f ul {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #section-e ul li,
    #section-f ul li {
        margin: 0;
        font-size: 1em;
        padding: 1em 10%;
        width: 100%;
        border-bottom: solid 1px #a0b9ad;
        border-top: none;
    }

    #section-e ul li .designer-name {
        font-size: .8em;
    }

    #section-e ul li:first-child {
        border-bottom: solid 1px #a0b9ad;
        border-top: none;
    }

    /********** Main Footer (min-width: 501px) and (max-width: 800px) **********/

    footer a {
        margin: 0 0.3em;
    }

}

@media only screen and (max-width: 500px) {

    /********** Main Container (min-width: 500px) **********/

    .container {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "section-a"
            "section-b"
            "section-c"
            "section-d"
            "footer"
            "section-e"
            "section-f";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /********** Base CSS (min-width: 500px) **********/

    h1 {
        margin-top: 15px;
        font-size: 1.75em;
    }

    h2 {
        margin-bottom: 1.25rem;
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    /********** Header (min-width: 500px) **********/

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 10rem;
    }

    #nav {
        min-height: 4.375rem;
    }

    #header img {
        width: 3.125rem;
        height: 3.125rem;
        margin: 15px 0 0 0;
    }


    #header .header-text {
        text-align: center;
    }

    /********** Nav (min-width: 500px) **********/

    .next-left,
    .next-right {
        margin: 0;
    }

    #section-a {
        padding: 0;
    }

    #section-e ul,
    #section-f ul {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #section-e ul li,
    #section-f ul li {
        margin: 0;
        font-size: 1em;
        padding: 1em 10%;
        width: 100%;
        border-bottom: solid 1px #a0b9ad;
        border-top: none;
    }

    #section-e ul li .designer-name {
        font-size: .8em;
    }

    #section-e ul li:first-child {
        border-bottom: solid 1px #a0b9ad;
        border-top: none;
    }

    /********** Section D (min-width: 500px) **********/

    #section-d,
    #section-d .content-wrap {
        padding: 0;
    }

    #section-d p {
        font-size: 1.3rem;
        padding: 1rem 6%;
    }

    /********** Main Footer (min-width: 500px) **********/
    footer a {
        width: 2.0625rem;
        height: 2.0625rem;
        font-size: 2.2rem;
        margin: 0 .6rem;
    }

}

@media only screen and (max-width: 320px) {

    /********** Base CSS (min-width: 320px) **********/

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: .9rem;
    }

    /********** Footer (min-width: 320px) **********/

    footer a {
        font-size: 2rem;
        width: 1.75rem;
        height: 1.75rem;

    }

    #section-e ul,
    #section-f ul {
        display: flex;
        flex-direction: column;
    }

    #section-d p {
        font-size: 1rem;
        margin: 0;
    }
}

/********** Custome Fonts/Icons **********/
@font-face {
    font-family: 'verdemoderna';
    src: url(fonts/verdemoderna.woff);
    font-weight: normal;
    font-style: normal;
}